html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u,
i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	background: #FFF;
	color: #444;
	font-family: 'open sans';
}

.logo {
	float: left;
	font-size: 42px;
	padding-left: 15px;
	border-bottom: solid rgba(255, 0, 0, 0.5);
	border-top: solid rgba(255, 0, 0, 0.5);
	margin-top: 10px;
	margin-left: 15px;
}

.firstColor {
	color: #097B7B;
}

.secondColor {
	color: #F2A877;
}

.thirdColor {
	color: #0593F9;
}

header ul.nav {
	list-style-type: none;
	padding: 0;
	margin-top: 30px;
	float: right;
}

header ul.nav li {
	display: inline;
	padding: 0 5px;
}

header ul.nav li a {
	display: inline-block;
	color: #FFF;
	text-decoration: none;
	padding-right: 25px;
	font-size: 25px;
}

header ul.nav li a:hover {
	color: #FFC3FF;
}

header {
	width: 100%;
	background: transparent url(../img/bkg-header.jpg) repeat top center;
	background-attachment: fixed;
	background-size: auto;
	background-repeat: repeat;
	text-align: center;
	padding-bottom: 45px;
}

header .center {
	width: 600px;
	margin: 0 auto;
}

header h1 {
	font-size: 40px;
	font-weight: 100;
	color: #FFC3FF;
	margin-top: 20px;
}

header p {
	font-size: 20px;
	font-weight: 100;
	color: #FFF;
	margin: 20px 0 30px;
}

ul.share-buttons {
  list-style: none;
  padding: 0;
	float: right;
}

ul.share-buttons li {
  display: inline;
	padding: 5px;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

tbody tr:hover {
	background: #BDC3C7;
	color: #FFFFFF;
}

table {
	width: 100%;
	border-collapse: collapse;
}

tr:nth-of-type(odd) {
	background: #d6d6d6;
}

th {
	background:#333;
	color: white;
	font-weight: bold;
}

td {
	font-size: 100%;
	line-height :1.5;
	font-family: Verdana;
}

td, th {
	padding: 6px;
	border: 1px solid #CCC;
	text-align: left;
}

footer {
	width: 100%;
	background: transparent url(../img/bkg-footer.jpg) repeat bottom center;
	background-attachment: fixed;
	background-size: 100% auto;
	text-align: center;
	padding-bottom: 30px;
}

footer ul {
	list-style-type: none;
	float: right;
}

footer ul li {
	display: inline;
	padding: 0 5px;
}

footer ul li a {
	color: #FFF;
	text-decoration: none;
	padding-right: 25px;
	font-size: 25px;
}

footer ul li a:hover {
	color: #FFC3FF;
}

footer p {
	font-size: 20px;
	font-weight: 100;
	color: #FFF;
	margin: 15px 0;
}

footer p a {
	color: #FFF;
	text-decoration: none;
}

footer p a:hover {
	color: #FFC3FF;
}

#auHeader {
	font-family: verdana;
	font-size: 21pt;
	width: 80%;
	margin-left: 10%;
}

.auBody {
	font-family: verdana;
	font-size: 13pt;
  width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

#cuHeader {
	font-family: verdana;
	font-size: 21pt;
	width: 80%;
	margin-left: 10%;
}

.cuBody {
	font-family: verdana;
	font-size: 13pt;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

#contactus fieldset {
	margin: 0 auto;
	width: 320px;
  padding: 20px;
  border: 1px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

#contactus label {
   font-family : Arial, sans-serif;
   font-size: 0.8em;
   font-weight: bold;
}

#contactus input[type="text"], textarea {
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.8em;
  line-height: 140%;
  color: #000;
  padding: 3px;
  border: 1px solid #999;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

#contactus input[type="text"] {
  height: 18px;
  width: 220px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#contactus #scaptcha {
  width: 60px;
  height: 18px;
}

#contactus input[type="submit"] {
   width: 100px;
   height: 30px;
   padding-left: 0px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

#contactus textarea {
  height: 120px;
  width: 310px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#contactus input[type="text"]:focus, textarea:focus {
  color: #009;
  border: 1px solid #990000;
  background-color: #ffff99;
  font-weight: bold;
}

#contactus .container {
   margin-top: 8px;
   margin-bottom: 10px;
}

#contactus .error {
   font-family: Verdana, Arial, sans-serif;
   font-size: 0.7em;
   color: #900;
   background-color: #ffff00;
}

#contactus fieldset#antispam {
   padding: 2px;
   border-top: 1px solid #EEE;
   border-left: 0;
   border-right: 0;
   border-bottom: 0;
   width: 350px;
}

#contactus fieldset#antispam legend {
   font-family: Arial, sans-serif;
   font-size: 0.8em;
   font-weight: bold;
   color: #333;
}

#contactus .short_explanation {
   font-family: Arial, sans-serif;
   font-size: 0.6em;
   color: #333;
}

#contactus .spmhidip {
   display: none;
   width: 10px;
   height: 3px;
}

#fg_crdiv {
   font-family: Arial, sans-serif;
   font-size: 0.3em;
   opacity: .2;
   -moz-opacity: .2;
   filter: alpha(opacity=20);
}

#fg_crdiv p {
    display: none;
}

#ppHeader {
  font-family: verdana;
  font-size: 21pt;
  width: 80%;
	margin-left: 10%;
}

.ppBody {
	font-family: verdana;
	font-size: 13pt;
  width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.ppBody strong {
	font-size: 15pt;
}

.ppBody a {
	text-decoration: none;
}

#tsHeader {
  font-family: verdana;
  font-size: 21pt;
  width: 80%;
	margin-left: 10%;
}

.tsBody {
	font-family: verdana;
	font-size: 13pt;
  width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.tsBody strong {
	font-size: 15pt;
}

.tsBody a {
	text-decoration: none;
}

.center {
	text-align: center;
}

.current-page {
	color: #FFC3FF;
}

@media not screen and (min-width:320px), (min-device-width: 320px) and (max-width: 663px), (max-device-width: 663px) {
	tr:nth-of-type(odd):hover { background: #d6d6d6; color: black; }
	tr:nth-of-type(even):hover { background: #FFF; color: black; }
}

@media screen and (min-width: 664px) and (max-width: 4000px), (min-device-width: 664px) and (max-device-width: 4000px) {
	th { text-align: center; }
	td:nth-child(1) { text-align: center; }
	td:nth-child(2) { text-align: center; }
	td:nth-child(3) { text-align: center; }
	td:nth-child(4) { text-align: center; }
	td:nth-child(5) { text-align: center; }
	td:nth-child(6) { text-align: center; }
}

@media screen and (max-width: 1130px), (max-device-width: 1130px) {
	div.logo { width: 100%; padding-left: 0; margin-left: 0; }
	header ul.nav { float: none; margin-top: 0; padding-top: 90px; }
}

@media screen and (max-width: 960px), (max-device-width: 960px) {
	footer { background-size: auto; text-align: center; }
}

@media screen and (max-width: 815px), (max-device-width: 815px) {
	header ul.nav  { float: none; margin-top: 0;}
	header ul.nav li a { display: block; padding: 0; line-height: 10px; }
	footer ul.nav { float: none; }
	footer ul.nav li a { display: block; padding: 0; line-height: 10px; }
	.spacer br { display: none; }
}

@media screen and (max-width: 663px), (min-device-width: 320px) and (max-device-width: 663px) {
	table, thead, tbody, th, td, tr { display: block; }
	thead tr { position: absolute; top: -9999px; left: -9999px; }
	tr { border: 1px solid #CCC; }
	td { border: 1px solid #CCC; border-bottom: 1px solid #eee; position: relative; padding-left: 50%; }
	td:nth-child(1) { text-align: left; }
	td:nth-child(2) { text-align: left; }
	td:nth-child(3) { text-align: left; }
	td:nth-child(4) { text-align: left; }
	td:nth-child(5) { text-align: left; }
	td:nth-child(6) { text-align: left; }
	td:before { position: absolute; top: 6px; left: 6px; width: 45%; padding-right: 10px; white-space: nowrap; }
	td:nth-of-type(1):before { content: "DEC"; }
	td:nth-of-type(2):before { content: "OCT"; }
	td:nth-of-type(3):before { content: "HEX"; }
	td:nth-of-type(4):before { content: "BIN"; }
	td:nth-of-type(5):before { content: "Symbol"; }
	td:nth-of-type(6):before { content: "HTML Number"; }
	td:nth-of-type(7):before { content: "HTML Name"; }
	td:nth-of-type(8):before { content: "Windows ALT Key"; }
	td:nth-of-type(9):before { content: "Description"; }
}

@media screen and (max-width: 600px), (max-device-width: 600px) {
	header .center { width: 95%; }
	header p { word-wrap: break-word; }
}

@media screen and (max-width: 575px), (max-device-width: 575px) {
	header h1 { font-size: 35px; }
}

@media screen and (max-width: 490px), (max-device-width: 490px) {
	header h1 { font-size: 30px; }
}

@media screen and (max-width: 475px), (max-device-width: 475px) {
		#contactus textarea { width: 220px; }
		#contactus fieldset { width: 230px; }
}

@media screen and (max-width: 450px), (max-device-width: 450px) {
	div.container textarea {width: 200px}
}

@media screen and (max-width: 420px), (max-device-width: 420px) {
	header h1 { font-size: 25px; }
}

@media screen and (max-width: 350px), (max-device-width: 350px) {
	header h1 { font-size: 20px; }
	header p { font-size: 19px; }
}

@media screen and (max-width: 340px), (max-device-width: 340px) {
	.cuBody { width: 100%; margin-left: 0;}
	.cuBody p {margin-left: 5%; margin-right: 5%;}
}

@media screen and (max-width: 320px) and (max-device-width: 320px) {
	body { width: 320px; }
	footer p { font-size: 15px; }
}

.ad_1 { width: 320px; height: 50px; }
@media (min-width: 500px) { .ad_1 { width: 468px; height: 60px; } }
@media (min-width: 800px) { .ad_1 { width: 728px; height: 90px; } }

.ad_2 { width: 320px; height: 100px; }
@media (min-width: 500px) { .ad_2 { width: 468px; height: 60px; } }
@media (min-width: 800px) { .ad_2 { width: 728px; height: 90px; } }
